body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.outer-wrapper {
    max-width: 920px;
    margin: 0px auto;
    padding: 20px;
}

.cart .header{
    margin-bottom: 3px;
}

.cart .inner-wrapper {
    padding: 22px;
    margin-top: -1px;
    border: 1px solid rgb(195,195,195);
}

.cart .caption{
    min-height: 120px;
    margin-bottom: 5px;
}

.products .inner-wrapper {
    padding: 22px;
    margin-top: -1px;
    /*border-bottom: 1px solid rgb(195,195,195);*/
}

.title{
    font-family: 'Open Sans Bold', sans-serif;
    color: #3260b5;
}

.category{
    color : rgb(161,161,161);
    font-size: 16px;
}

.price{
    font-family: 'Open Sans Bold', sans-serif;
    color : #942222;
}

.producer{
    margin-top: 8px;
}

.controlBtn{
    margin-top: 10px;
    font-size: 16px;
}

a{
    color : #406bba;
}

a:hover{
    text-decoration: none;
}

.arrow-right{
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 2px;
}

.header-text{
    font-size:30px;
    color : rgb(71,71,71);
}

.summary-text{
    text-align: right;
    font-size: 20px;
}

.column-header-text{
    color:rgb(154,154,154);
}

input{
    width:60px;
}

.addToBucket{
    padding: 4px 14px 4px 14px;
    background: linear-gradient(0deg,#f5be00,#ffe17a);
    color : #333333;
    border : 1px solid #333333;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
}

.addToBucket:hover{
    opacity: 1;
    color : #333333;
}

#bucket > :first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#bucket > :last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#productList > :not(:last-child){
    border-bottom: 1px solid rgb(195,195,195);
}

@media (min-width: 768px) and (max-width: 991px){
    .column-header-text {
        position: relative;
        right: 15px;
    }
}